USE [master]
GO
/****** Object:  Database [biologs_db]    Script Date: 12/20/2025 2:21:57 pm ******/
CREATE DATABASE [biologs_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biologs_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\biologs_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biologs_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\biologs_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biologs_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biologs_db]
GO
/****** Object:  View [dbo].[LatestAttendanceReport]    Script Date: 12/20/2025 2:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Create view LatestAttendanceReport
-- ==========================================
-- NOTE: Replace [zk_bio] with your actual source database name
CREATE VIEW [dbo].[LatestAttendanceReport] AS
SELECT 
    L.[CHECKTIME] AS LogTime,
    L.[CHECKTYPE] AS CheckType,
    U.[Badgenumber] AS AC_No,
    U.[Name] AS EmployeeName,
    L.[USERID] AS Internal_UserID,
    L.[VERIFYCODE] AS VerificationMethod,
    L.[SENSORID] AS DeviceSN
FROM 
    [zk_bio].[dbo].[CHECKINOUT] AS L
INNER JOIN 
    [zk_bio].[dbo].[USERINFO] AS U
    ON L.USERID = U.USERID;
GO
/****** Object:  Table [dbo].[AttendanceData]    Script Date: 12/20/2025 2:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceData](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[CheckType] [varchar](10) NULL,
	[AC_No] [varchar](20) NULL,
	[EmployeeName] [varchar](100) NULL,
	[Internal_UserID] [int] NOT NULL,
	[VerificationMethod] [int] NULL,
	[DeviceSN] [varchar](50) NULL,
	[Sync_Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLogs]    Script Date: 12/20/2025 2:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AcNo] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[LogTime] [datetime] NULL,
	[VerifyMode] [nvarchar](20) NULL,
	[Machine] [nvarchar](50) NULL,
	[Exception] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLogs_Staging]    Script Date: 12/20/2025 2:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLogs_Staging](
	[AcNo] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[sTimeRaw] [nvarchar](50) NULL,
	[VerifyMode] [nvarchar](20) NULL,
	[Machine] [nvarchar](50) NULL,
	[Exception] [nvarchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceData] ADD  DEFAULT (getdate()) FOR [Sync_Timestamp]
GO
USE [master]
GO
