USE [master]
GO
/****** Object:  Database [EmployeeManagementSystem]    Script Date: 12/20/2025 1:49:19 pm ******/
CREATE DATABASE [EmployeeManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmployeeManagementSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmployeeManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManagementSystem]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[dept_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [nvarchar](100) NOT NULL,
	[dept_code] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisors]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisors](
	[supervisor_id] [int] IDENTITY(1,1) NOT NULL,
	[supervisor_name] [nvarchar](200) NOT NULL,
	[position] [nvarchar](100) NULL,
	[dept_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[supervisor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[ac_no] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[full_name]  AS (((([last_name]+', ')+[first_name])+' ')+isnull([middle_name],'')) PERSISTED NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[contact_number] [nvarchar](50) NULL,
	[email_address] [nvarchar](100) NULL,
	[civil_status] [nvarchar](50) NULL,
	[nationality] [nvarchar](100) NULL,
	[emergency_contact_name] [nvarchar](200) NULL,
	[emergency_contact_number] [nvarchar](50) NULL,
	[emergency_contact_relationship] [nvarchar](100) NULL,
	[dept_id] [int] NULL,
	[job_title] [nvarchar](150) NULL,
	[employment_status] [nvarchar](50) NULL,
	[location_assignment] [nvarchar](200) NULL,
	[supervisor_id] [int] NULL,
	[employment_type] [nvarchar](50) NULL,
	[work_schedule] [nvarchar](200) NULL,
	[salary_rate] [decimal](18, 2) NULL,
	[salary_type] [nvarchar](50) NULL,
	[payroll_group] [nvarchar](50) NULL,
	[tin_number] [nvarchar](50) NULL,
	[sss_number] [nvarchar](50) NULL,
	[philhealth_number] [nvarchar](50) NULL,
	[pagibig_number] [nvarchar](50) NULL,
	[bank_account_number] [nvarchar](100) NULL,
	[date_hired] [date] NULL,
	[date_deployed] [date] NULL,
	[date_regularized] [date] NULL,
	[contract_start_date] [date] NULL,
	[contract_end_date] [date] NULL,
	[employee_status] [nvarchar](50) NULL,
	[reason_inactive] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_by] [nvarchar](100) NULL,
	[password_hash] [nvarchar](255) NULL,
	[approval_role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[daily_rate] [decimal](10, 2) NULL,
	[hourly_rate] [decimal](10, 2) NULL,
	[esignature] [nvarchar](255) NULL,
	[signature_path] [varchar](255) NULL,
	[sil_credits] [decimal](10, 2) NULL,
	[job_level] [varchar](50) NULL,
	[profile_picture] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ac_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeList]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create View for Employee List
-- =============================================
CREATE VIEW [dbo].[vw_EmployeeList] AS
SELECT 
    e.emp_id,
    e.ac_no,
    e.full_name,
    e.first_name,
    e.last_name,
    e.middle_name,
    e.job_title,
    e.employment_status,
    e.employment_type,
    d.dept_name,
    s.supervisor_name,
    e.contact_number,
    e.email_address,
    e.date_hired,
    e.date_deployed,
    e.date_regularized,
    e.employee_status,
    e.location_assignment,
    e.salary_rate,
    e.salary_type,
    e.created_at,
    e.updated_at
FROM Employees e
LEFT JOIN Departments d ON e.dept_id = d.dept_id
LEFT JOIN Supervisors s ON e.supervisor_id = s.supervisor_id;
GO
/****** Object:  Table [dbo].[ChangeScheduleApplications]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeScheduleApplications](
	[cs_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[date_to_change] [date] NOT NULL,
	[new_shift] [varchar](50) NOT NULL,
	[reason] [nvarchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTRProblems]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTRProblems](
	[problem_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[log_date] [date] NOT NULL,
	[issue_type] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[status] [nvarchar](50) NULL,
	[resolved_by] [int] NULL,
	[resolved_at] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[problem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDocuments]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDocuments](
	[doc_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[doc_name] [nvarchar](100) NOT NULL,
	[file_path] [nvarchar](255) NOT NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLoans]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLoans](
	[loan_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[loan_category] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[principal_amount] [decimal](18, 2) NOT NULL,
	[interest_rate] [decimal](5, 2) NULL,
	[interest_amount] [decimal](18, 2) NULL,
	[total_payable] [decimal](18, 2) NOT NULL,
	[months_to_pay] [int] NOT NULL,
	[deduction_frequency] [nvarchar](20) NULL,
	[monthly_amortization] [decimal](18, 2) NOT NULL,
	[per_cutoff_deduction] [decimal](18, 2) NOT NULL,
	[remaining_balance] [decimal](18, 2) NOT NULL,
	[start_date] [date] NOT NULL,
	[status] [nvarchar](20) NULL,
	[is_final_pay_deduction] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeStatusHistory]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeStatusHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[previous_status] [nvarchar](50) NULL,
	[new_status] [nvarchar](50) NULL,
	[effective_date] [date] NULL,
	[remarks] [nvarchar](500) NULL,
	[changed_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NOT NULL,
	[holiday_type] [varchar](20) NOT NULL,
	[holiday_name] [varchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveApplications]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveApplications](
	[leave_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[leave_type] [nvarchar](50) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPayments]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPayments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[loan_id] [int] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeApplications]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeApplications](
	[ot_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[ot_date] [date] NOT NULL,
	[ot_hours] [decimal](4, 2) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_PagIBIG_Table]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_PagIBIG_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fixed_amt] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_PhilHealth_Table]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_PhilHealth_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rate] [decimal](5, 4) NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_SSS_Table]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_SSS_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
	[ee_share] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_Tax_Table]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_Tax_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
	[base_tax] [decimal](18, 2) NULL,
	[excess_rate] [decimal](5, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostComments]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostComments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[comment_text] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostLikes]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostLikes](
	[like_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[like_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[content] [nvarchar](max) NULL,
	[image_path] [nvarchar](500) NULL,
	[like_count] [int] NULL,
	[comment_count] [int] NULL,
	[created_at] [datetime] NULL,
	[is_announcement] [bit] NULL,
	[is_birthday] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryHistory]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[old_salary] [decimal](18, 2) NULL,
	[new_salary] [decimal](18, 2) NULL,
	[change_date] [datetime] NULL,
	[changed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleChangeRequests]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleChangeRequests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[new_shift_code] [varchar](50) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingCertifications]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingCertifications](
	[training_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[training_name] [nvarchar](200) NOT NULL,
	[certification_name] [nvarchar](200) NULL,
	[date_completed] [date] NULL,
	[expiry_date] [date] NULL,
	[provider] [nvarchar](200) NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_emp_ac_no]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_ac_no] ON [dbo].[Employees]
(
	[ac_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_emp_date_hired]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_date_hired] ON [dbo].[Employees]
(
	[date_hired] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_emp_dept]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_dept] ON [dbo].[Employees]
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [idx_emp_full_name]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_full_name] ON [dbo].[Employees]
(
	[full_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_emp_status]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_status] ON [dbo].[Employees]
(
	[employee_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_emp_supervisor]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [idx_emp_supervisor] ON [dbo].[Employees]
(
	[supervisor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Holiday_Date]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Holiday_Date] ON [dbo].[Holidays]
(
	[holiday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalaryHistory_EmpID]    Script Date: 12/20/2025 1:49:20 pm ******/
CREATE NONCLUSTERED INDEX [IX_SalaryHistory_EmpID] ON [dbo].[SalaryHistory]
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeScheduleApplications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[ChangeScheduleApplications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[DTRProblems] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[DTRProblems] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[EmployeeDocuments] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT ((0)) FOR [interest_rate]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT ((0)) FOR [interest_amount]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT ('Semi-monthly') FOR [deduction_frequency]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT ((0)) FOR [is_final_pay_deduction]
GO
ALTER TABLE [dbo].[EmployeeLoans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Active') FOR [employee_status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Employee') FOR [approval_role]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [sil_credits]
GO
ALTER TABLE [dbo].[EmployeeStatusHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LeaveApplications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[LeaveApplications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LoanPayments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[OvertimeApplications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[OvertimeApplications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PostComments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PostLikes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [comment_count]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [is_announcement]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [is_birthday]
GO
ALTER TABLE [dbo].[SalaryHistory] ADD  DEFAULT ((0)) FOR [old_salary]
GO
ALTER TABLE [dbo].[SalaryHistory] ADD  DEFAULT ((0)) FOR [new_salary]
GO
ALTER TABLE [dbo].[SalaryHistory] ADD  DEFAULT (getdate()) FOR [change_date]
GO
ALTER TABLE [dbo].[ScheduleChangeRequests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[ScheduleChangeRequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Supervisors] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TrainingCertifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('HR') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DTRProblems]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDocs_Employees] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeDocuments] CHECK CONSTRAINT [FK_EmployeeDocs_Employees]
GO
ALTER TABLE [dbo].[EmployeeLoans]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeLoans_Employees] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeLoans] CHECK CONSTRAINT [FK_EmployeeLoans_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([dept_id])
REFERENCES [dbo].[Departments] ([dept_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[Supervisors] ([supervisor_id])
GO
ALTER TABLE [dbo].[EmployeeStatusHistory]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
GO
ALTER TABLE [dbo].[OvertimeApplications]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
GO
ALTER TABLE [dbo].[PostComments]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostLikes]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryHistory]  WITH CHECK ADD  CONSTRAINT [FK_SalaryHistory_Employees] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryHistory] CHECK CONSTRAINT [FK_SalaryHistory_Employees]
GO
ALTER TABLE [dbo].[Supervisors]  WITH CHECK ADD  CONSTRAINT [FK__Superviso__dept___4F7CD00D] FOREIGN KEY([dept_id])
REFERENCES [dbo].[Departments] ([dept_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supervisors] CHECK CONSTRAINT [FK__Superviso__dept___4F7CD00D]
GO
ALTER TABLE [dbo].[TrainingCertifications]  WITH CHECK ADD FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([emp_id])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeCount]    Script Date: 12/20/2025 1:49:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create Stored Procedure for Employee Count
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployeeCount]
    @status NVARCHAR(50) = NULL
AS
BEGIN
    IF @status IS NULL
        SELECT COUNT(*) AS total_employees FROM Employees
    ELSE
        SELECT COUNT(*) AS total_employees 
        FROM Employees 
        WHERE employee_status = @status
END;
GO
USE [master]
GO
