USE [master]
GO
/****** Object:  Database [SchedulerDB]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE DATABASE [SchedulerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchedulerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchedulerDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchedulerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchedulerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchedulerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchedulerDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCutoffDates]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- FUNCTION: Get Cutoff Period Dates
-- ============================================
CREATE FUNCTION [dbo].[fn_GetCutoffDates]
(
    @cutoff_period NVARCHAR(20),
    @reference_date DATE
)
RETURNS @CutoffDates TABLE
(
    cutoff_start DATE,
    cutoff_end DATE
)
AS
BEGIN
    DECLARE @year INT = YEAR(@reference_date);
    DECLARE @month INT = MONTH(@reference_date);
    DECLARE @start_date DATE;
    DECLARE @end_date DATE;
    
    IF @cutoff_period = '23-09'
    BEGIN
        -- From 23rd of current month to 9th of next month
        SET @start_date = DATEFROMPARTS(@year, @month, 23);
        SET @end_date = DATEADD(DAY, 9, DATEADD(MONTH, 1, DATEFROMPARTS(@year, @month, 1)));
    END
    ELSE IF @cutoff_period = '10-22'
    BEGIN
        -- From 10th to 22nd of current month
        SET @start_date = DATEFROMPARTS(@year, @month, 10);
        SET @end_date = DATEFROMPARTS(@year, @month, 22);
    END
    
    INSERT INTO @CutoffDates (cutoff_start, cutoff_end)
    VALUES (@start_date, @end_date);
    
    RETURN;
END;
GO
/****** Object:  Table [dbo].[employees]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [nvarchar](100) NOT NULL,
	[employee_id] [nvarchar](50) NOT NULL,
	[department] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[dept_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift_types]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shift_code] [nvarchar](20) NOT NULL,
	[shift_name] [nvarchar](50) NOT NULL,
	[time_in] [time](7) NOT NULL,
	[time_out] [time](7) NOT NULL,
	[has_lunch_break] [bit] NULL,
	[is_special] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[shift_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[shift_type_id] [int] NOT NULL,
	[cutoff_period] [nvarchar](20) NOT NULL,
	[cutoff_start_date] [date] NOT NULL,
	[cutoff_end_date] [date] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_employee_date] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ScheduleOverview]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- VIEW: Schedule Overview with Employee Details
-- ============================================
CREATE VIEW [dbo].[vw_ScheduleOverview]
AS
SELECT 
    e.id AS employee_id,
    e.employee_name,
    e.employee_id AS employee_code,
    e.department,
    s.schedule_date,
    s.cutoff_period,
    s.cutoff_start_date,
    s.cutoff_end_date,
    st.shift_code,
    st.shift_name,
    st.time_in,
    st.time_out,
    st.has_lunch_break,
    st.is_special,
    s.notes,
    s.created_at,
    s.updated_at
FROM schedules s
INNER JOIN employees e ON s.employee_id = e.id
INNER JOIN shift_types st ON s.shift_type_id = st.id;
GO
/****** Object:  Table [dbo].[ChangeScheduleApplications]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeScheduleApplications](
	[cs_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[date_to_change] [date] NOT NULL,
	[original_shift] [varchar](50) NULL,
	[new_shift] [varchar](50) NOT NULL,
	[reason] [nvarchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[approval_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[dept_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dept_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSchedules]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSchedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[employee_id] [int] NULL,
	[schedule_date] [date] NULL,
	[shift_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalizedSchedule]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalizedSchedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ac_no] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Department] [nvarchar](100) NULL,
	[schedule_Date] [date] NOT NULL,
	[Shift_code] [nvarchar](50) NULL,
	[Time_In] [datetime] NULL,
	[Time_Out] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FinalSchedule] UNIQUE NONCLUSTERED 
(
	[Ac_no] ASC,
	[schedule_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NOT NULL,
	[holiday_type] [varchar](20) NOT NULL,
	[holiday_name] [varchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanLedger]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanLedger](
	[ledger_id] [int] IDENTITY(1,1) NOT NULL,
	[loan_id] [int] NULL,
	[payslip_id] [int] NULL,
	[amount_paid] [decimal](18, 2) NULL,
	[date_paid] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ledger_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanPayments]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanPayments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[loan_id] [int] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
	[notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_AllowanceTypes]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_AllowanceTypes](
	[allowance_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[frequency] [nvarchar](20) NULL,
	[is_taxable] [bit] NULL,
	[deduction_per_absent] [decimal](18, 2) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[allowance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_EmployeeAllowances]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_EmployeeAllowances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[allowance_id] [int] NOT NULL,
	[assigned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_GeneralSettings]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_GeneralSettings](
	[setting_key] [varchar](50) NOT NULL,
	[setting_value] [varchar](100) NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_HolidayRules]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_HolidayRules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_type] [varchar](50) NOT NULL,
	[pay_if_unworked] [decimal](5, 4) NOT NULL,
	[pay_if_worked] [decimal](5, 4) NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_OvertimeRules]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_OvertimeRules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[day_type] [varchar](50) NOT NULL,
	[ot_multiplier] [decimal](5, 4) NOT NULL,
	[night_diff_percent] [decimal](5, 4) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_PagIBIG_Table]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_PagIBIG_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fixed_amt] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_PhilHealth_Table]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_PhilHealth_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rate] [decimal](5, 4) NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_SSS_Table]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_SSS_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
	[ee_share] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll_Tax_Table]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll_Tax_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[min_salary] [decimal](18, 2) NULL,
	[max_salary] [decimal](18, 2) NULL,
	[base_tax] [decimal](18, 2) NULL,
	[excess_rate] [decimal](5, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollBatches]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollBatches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[cutoff_start] [date] NOT NULL,
	[cutoff_end] [date] NOT NULL,
	[status] [varchar](20) NULL,
	[generated_by] [int] NULL,
	[generated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cutoff_start] ASC,
	[cutoff_end] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollPeriodStatus]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollPeriodStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_posted] [bit] NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PayrollPeriod] UNIQUE NONCLUSTERED 
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayslipHistory]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayslipHistory](
	[payslip_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[emp_id] [int] NULL,
	[ac_no] [varchar](50) NULL,
	[basic_salary] [decimal](18, 2) NULL,
	[gross_pay] [decimal](18, 2) NULL,
	[net_pay] [decimal](18, 2) NULL,
	[details_json] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payslip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleBatches]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleBatches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[dept_id] [int] NOT NULL,
	[cutoff_label] [nvarchar](50) NULL,
	[cutoff_start] [date] NULL,
	[cutoff_end] [date] NULL,
	[status] [nvarchar](50) NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleChangeLogs]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleChangeLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[schedule_date] [date] NOT NULL,
	[old_shift_code] [varchar](50) NULL,
	[new_shift_code] [varchar](50) NULL,
	[reason] [nvarchar](255) NULL,
	[changed_by] [int] NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleHistory]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[action] [nvarchar](100) NULL,
	[actor_name] [nvarchar](200) NULL,
	[actor_role] [nvarchar](50) NULL,
	[timestamp] [datetime] NULL,
	[comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimecardAdjustments]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimecardAdjustments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ac_no] [varchar](50) NULL,
	[adj_date] [date] NULL,
	[adj_type] [varchar](10) NULL,
	[time_value] [varchar](10) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[department] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_FinalSchedule_Search]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE NONCLUSTERED INDEX [IDX_FinalSchedule_Search] ON [dbo].[FinalizedSchedule]
(
	[Ac_no] ASC,
	[schedule_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Holiday_Date]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Holiday_Date] ON [dbo].[Holidays]
(
	[holiday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_schedule_cutoff]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE NONCLUSTERED INDEX [IDX_schedule_cutoff] ON [dbo].[schedules]
(
	[cutoff_period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_schedule_date]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE NONCLUSTERED INDEX [IDX_schedule_date] ON [dbo].[schedules]
(
	[schedule_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_schedule_daterange]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE NONCLUSTERED INDEX [IDX_schedule_daterange] ON [dbo].[schedules]
(
	[cutoff_start_date] ASC,
	[cutoff_end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_schedule_employee]    Script Date: 12/20/2025 1:50:42 pm ******/
CREATE NONCLUSTERED INDEX [IDX_schedule_employee] ON [dbo].[schedules]
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeScheduleApplications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[ChangeScheduleApplications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FinalizedSchedule] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LoanLedger] ADD  DEFAULT (getdate()) FOR [date_paid]
GO
ALTER TABLE [dbo].[LoanPayments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payroll_AllowanceTypes] ADD  DEFAULT ('Monthly') FOR [frequency]
GO
ALTER TABLE [dbo].[Payroll_AllowanceTypes] ADD  DEFAULT ((0)) FOR [is_taxable]
GO
ALTER TABLE [dbo].[Payroll_AllowanceTypes] ADD  DEFAULT ((0)) FOR [deduction_per_absent]
GO
ALTER TABLE [dbo].[Payroll_AllowanceTypes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Payroll_EmployeeAllowances] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Payroll_HolidayRules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Payroll_OvertimeRules] ADD  DEFAULT ((0.1000)) FOR [night_diff_percent]
GO
ALTER TABLE [dbo].[Payroll_OvertimeRules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PayrollBatches] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[PayrollBatches] ADD  DEFAULT (getdate()) FOR [generated_at]
GO
ALTER TABLE [dbo].[PayrollPeriodStatus] ADD  DEFAULT ((0)) FOR [is_posted]
GO
ALTER TABLE [dbo].[PayrollPeriodStatus] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PayslipHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ScheduleBatches] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[ScheduleBatches] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ScheduleChangeLogs] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[ScheduleHistory] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[shift_types] ADD  DEFAULT ((0)) FOR [has_lunch_break]
GO
ALTER TABLE [dbo].[shift_types] ADD  DEFAULT ((0)) FOR [is_special]
GO
ALTER TABLE [dbo].[TimecardAdjustments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([dept_id])
REFERENCES [dbo].[Departments] ([dept_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[EmployeeSchedules]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[ScheduleBatches] ([batch_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoanLedger]  WITH CHECK ADD FOREIGN KEY([payslip_id])
REFERENCES [dbo].[PayslipHistory] ([payslip_id])
GO
ALTER TABLE [dbo].[Payroll_EmployeeAllowances]  WITH CHECK ADD  CONSTRAINT [FK_EmpAllow_Type] FOREIGN KEY([allowance_id])
REFERENCES [dbo].[Payroll_AllowanceTypes] ([allowance_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payroll_EmployeeAllowances] CHECK CONSTRAINT [FK_EmpAllow_Type]
GO
ALTER TABLE [dbo].[PayslipHistory]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[PayrollBatches] ([batch_id])
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_schedules_employee]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_shift] FOREIGN KEY([shift_type_id])
REFERENCES [dbo].[shift_types] ([id])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_schedules_shift]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSchedule]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURE: Delete Schedule
-- ============================================
CREATE PROCEDURE [dbo].[sp_DeleteSchedule]
    @employee_id INT,
    @schedule_date DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM schedules
    WHERE employee_id = @employee_id 
        AND schedule_date = @schedule_date;
    
    SELECT 'Success' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeSchedules]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURE: Get Employee Schedules
-- ============================================
CREATE PROCEDURE [dbo].[sp_GetEmployeeSchedules]
    @employee_id INT,
    @cutoff_start DATE,
    @cutoff_end DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.id,
        s.schedule_date,
        s.cutoff_period,
        st.shift_code,
        st.shift_name,
        st.time_in,
        st.time_out,
        st.has_lunch_break,
        st.is_special,
        s.notes,
        s.created_at,
        s.updated_at
    FROM schedules s
    INNER JOIN shift_types st ON s.shift_type_id = st.id
    WHERE s.employee_id = @employee_id
        AND s.schedule_date BETWEEN @cutoff_start AND @cutoff_end
    ORDER BY s.schedule_date;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveSchedule]    Script Date: 12/20/2025 1:50:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- STORED PROCEDURE: Save/Update Schedule
-- ============================================
CREATE PROCEDURE [dbo].[sp_SaveSchedule]
    @employee_id INT,
    @schedule_date DATE,
    @shift_code NVARCHAR(20),
    @cutoff_period NVARCHAR(20),
    @cutoff_start_date DATE,
    @cutoff_end_date DATE,
    @notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @shift_type_id INT;
    
    -- Get shift type id
    SELECT @shift_type_id = id 
    FROM shift_types 
    WHERE shift_code = @shift_code;
    
    IF @shift_type_id IS NULL
    BEGIN
        RAISERROR('Invalid shift code', 16, 1);
        RETURN;
    END
    
    -- Check if schedule exists
    IF EXISTS (SELECT 1 FROM schedules WHERE employee_id = @employee_id AND schedule_date = @schedule_date)
    BEGIN
        -- Update existing schedule
        UPDATE schedules
        SET shift_type_id = @shift_type_id,
            cutoff_period = @cutoff_period,
            cutoff_start_date = @cutoff_start_date,
            cutoff_end_date = @cutoff_end_date,
            notes = @notes,
            updated_at = GETDATE()
        WHERE employee_id = @employee_id 
            AND schedule_date = @schedule_date;
    END
    ELSE
    BEGIN
        -- Insert new schedule
        INSERT INTO schedules (employee_id, schedule_date, shift_type_id, cutoff_period, cutoff_start_date, cutoff_end_date, notes)
        VALUES (@employee_id, @schedule_date, @shift_type_id, @cutoff_period, @cutoff_start_date, @cutoff_end_date, @notes);
    END
    
    SELECT 'Success' AS Result;
END;
GO
USE [master]
GO
